.underline:hover {
    text-decoration: underline;
}

div.title {
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #d3d3d3;
}

body {
    background-color: #f2f2f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

div.left-card {
    height: 650px;
    width: 47%;
    background: #ffffff;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #d3d3d3;
    float: left;
}

.sidebar {
    width: 100px;
    background-color: rgb(255, 255, 255);
    float: left;
    padding: 300px 20px 10px 20px;
}

div.sidebar img {
    padding: 0px;
    width: 60px;
    margin: 10px;
    border: 1px solid #d3d3d3;
}

div.sidebar img:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

div.right-card {
    height: 650px;
    width: 47%;
    background: #ffffff;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #d3d3d3;
    float: right;

}

.mainpic img {
    width: 516px;
    height: 570px;
    background-color: #ffffff;
    float: right;
    border: 1px solid #d3d3d3;
    padding: 40px;
}

.mainpic img:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.rating {
    color: #04bb04;

}

.button {
    padding: 7px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    padding: 6px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;

}

div.price {
    width: 380px;
    height: 80px;
}

div.productid {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

div.similar {
    padding: 7px;
    border: 1px solid red;
    margin-top: 3px;
    width: 130px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

div.similar:hover {
    background-color: red;
    color: #ffffff;
}

div.del {
    font-weight: 900;
    color: #04dede;
    margin-top: 5px;
}

div.quick {
    margin-top: 20px;
}

.button1 b {
    background-color: #72bf44;
    padding: 10px;
    color: white;
    border-radius: 7px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button1 b:hover {
    border: 1px solid #72bf44;
    background-color: #ffffff;
    color: black;
}

div.cart {
    margin: 35px 0px 35px 0px;
}

input[type=number] {
    height: 30px;
    text-align: center;
    width: 100px;
}

b {
    font-size: 15px;
}

div.share {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.share span a {
    padding: 5px;
    color: black;
    text-decoration: none;
}